{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% block content %}
<div class="container my-4">
    <div class="row justify-content-center">
        <div class="col-md-10 col-sm-12">
            <div class="card mb-3">
                <div class="card-body">
                    <h4>Appointment details:</h4>
                    <h5>*noon indicate 12:00 p.m</h5>
                    {% if appointment_info_list %}
                        <table class="table table-bordered table-hover">
                            <tr>
                                <th>Name Of Doctor</th>
                                <th>Date Of Appointment</th>
                                <th>Slot Time</th>
                                <th>Cancel Appointment</th>
                                <th>Reschedule Appointment</th>
                            </tr>
                            {% for appointment_details in appointment_info_list%}
                            <tr>
                                <td>{{appointment_details.doctor.doctor_name}}</td>
                                <td>{{appointment_details.date_of_appointment}}</td>
                                <td>{{appointment_details.slot_time}}</td>
                                <td>
                                    <button type="button" class="btn btn-info">
                                        <a href="cancelled/?cancel={{appointment_details.pk}}">Cancel</a>
                                    </button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-info">
                                        <a href="reschedule/?reschedule={{appointment_details.pk}}">Reschedule</a>
                                    </button>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    {% else %}
                        <h4>You don't have appointments.Click on the appointment module to book your appointment.</h4>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}