{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% block content %}
{% load widget_tweaks %}
<form method="get">
    <div class="well">
        <h4 style="margin-top: 0">Filter</h4>
        <div class="row">
            <div class="form-group col-sm-6 col-md-4">
                {{ filter.form.doctor_name.label_tag }}
                {% render_field filter.form.doctor_name class="form-control" %}
            </div>
            <div class="form-group col-sm-6 col-md-4">
                {{ filter.form.gender.label_tag }}
                {% render_field filter.form.gender class="form-control" %}
            </div>
            <div class="form-group col-sm-6 col-md-4">
                {{ filter.form.city_of_practice.label_tag }}
                {% render_field filter.form.city_of_practice class="form-control" %}
            </div>
        </div>
        <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-search"></span> Search
        </button>
    </div>
</form>
<div class="container my-4">
    <div class="row justify-content-center">
        <div class="col-md-10 col-sm-12">
            <div class="card mb-3">
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Name Of Doctor</th>
                                <th>Fees</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for doctor in filter.qs %}
                                <tr>
                                    <td><a href="{{doctor.get_absolute_url_for_telemedicine}}">{{doctor.doctor_name}}</a></td>
                                    <td>{{ doctor.fees_for_telemedicine_patient }}</td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="5">No data</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}