{% extends 'base.html' %}
{% load static %}
	{% block content %}
            <div id="fh5co-course">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
					<h2>What you can do</h2>
									</div>
			</div>
			<div class="row">
				<div class="col-md-6 animate-box">
					<div class="course">
						<a href="{% url 'patient:phq9_questions'%}" class="course-img" style="background-image: url('{% static "img/phq.jpg" %}')";>
						</a>
						<div class="desc">
							<h3><a href="{% url 'patient:phq9_questions'%}">PHQ9 Questionaries</a></h3>
							<p>It is the 9-question depression scale for the PHQ.</p>
							<span><a href="{% url 'patient:phq9_questions'%}" class="btn btn-primary btn-sm btn-course">Take Me There</a></span>
						</div>
					</div>
				</div>
				<div class="col-md-6 animate-box">
					<div class="course">
						<a href="#" class="course-img" style="background-image: url('{% static "img/appointment.jpg" %}')";>
						</a>
						<div class="desc">
							<h3><a href="#">Appointment</a></h3>
							<p>The patient can book the appointment with the doctor according to the available slots.</p>
							<span><a href="{% url 'patient:choose_doctors_dashboard' %}" class="btn btn-primary btn-sm btn-course">Appointment</a></span>
							<span><a href="{% url 'patient:choose_doctors_for_telemedicine' %}" class="btn btn-primary btn-sm btn-course">TeleMedicine</a></span>
						</div>
					</div>
				</div>
				<div class="col-md-6 animate-box">
					<div class="course">
						<a href="#" class="course-img" style="background-image: url('{% static "img/album1.jpg" %}')";>
						</a>
						<div class="desc">
							<h3>Album(Images/Videos)</h3>
                            <p>View memories from your loved ones.</p>
                            <span><a href="{% url 'patient:list_images' %}" class="btn btn-primary btn-sm btn-course">Images</a></span>
							<span><a href="{% url 'patient:list_videos' %}" class="btn btn-primary btn-sm btn-course">Videos</a></span>
						</div>
					</div>
				</div>
				{% if relation_count %}
                <div class="col-md-6 animate-box">
					<div class="course">
						<a href="#" class="course-img" style="background-image: url('{% static "img/well-wisher.jpg" %}')";>
						</a>
						<div class="desc">
							<h3><a href="#">Add Well wishers</a></h3>
							{% if friend == 0 %}
							<span><a href="{% url 'patient:add_well_wisher1'%}" class="btn btn-primary btn-sm btn-course">Friend</a></span>
                            {% endif %}
							{% if relative == 0%}
							<span><a href="{% url 'patient:add_well_wisher2'%}" class="btn btn-primary btn-sm btn-course">Relative</a></span>
							{% endif %}
							{% if colleague == 0 %}
							<span><a href="{% url 'patient:add_well_wisher3'%}" class="btn btn-primary btn-sm btn-course">Colleague</a></span>
							{% endif %}
						</div>
					</div>
				</div>
                {% else %}
                    <div class="col-md-6 animate-box">
					<div class="course">
						<a href="#" class="course-img" style="background-image: url('{% static "img/well-wisher.jpg" %}')";>
						</a>
						<div class="desc">
							<h3><a href="#">Change Well wishers</a></h3>
							<span><a href="{% url 'patient:change_well_wisher1'%}" class="btn btn-primary btn-sm btn-course">Friend</a></span>
                            <span><a href="{% url 'patient:change_well_wisher2'%}" class="btn btn-primary btn-sm btn-course">Relative</a></span>
							<span><a href="{% url 'patient:change_well_wisher3'%}" class="btn btn-primary btn-sm btn-course">Colleague</a></span>
						</div>
					</div>
				    </div>
				{% endif %}
                <div class="col-md-6 animate-box">
					<div class="course">
						<a href="#" class="course-img" style="background-image: url('{% static "img/chatbot-1.jpg" %}')";>
						</a>
						<div class="desc">
							<h3><a href="#">Chatbot</a></h3>
							<p>Voila!! A chatbot to talk and combat your loneliness to make you feel good!!</p>
							<span><a href="#" class="btn btn-primary btn-sm btn-course">Take Me There</a></span>
						</div>
					</div>
				</div>
				<div class="col-md-6 animate-box">
					<div class="course">
						<a href="#" class="course-img" style="background-image: url('{% static "img/report.jpg" %}')";>
						</a>
						<div class="desc">
							<h3><a href="{% url 'patient:upload_patient_report' %}">Report</a></h3>
							<p>Add Reports over here as suggested by your doctor</p>
                            {% if res_count %}
							<span><a href="{% url 'patient:upload_patient_report' %}" class="btn btn-primary btn-sm btn-course">Upload Report</a></span>
							{% endif %}
                            <span><a href="{% url 'patient:see_uploaded_report' %}" class="btn btn-primary btn-sm btn-course">See Uploaded Report</a></span>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	{% endblock %}
