{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% block content %}
<div class="container my-4">
    <div class="row justify-content-center">
        <div class="col-md-10 col-sm-12">
            <div class="card mb-3">
                <div class="card-body">
                    <h1>List of Doctors who are not yet been verified</h1>
                    {% if pending_doctor_list %}
                        <table class="table table-bordered table-hover">
                            <tr>
                                <th>Doctor Name</th>
                                <th>Check Documents</th>
                                <th>Status</th>
                            </tr>
                            {% for doctor in pending_doctor_list %}
                                <tr>
                                    <td>{{doctor.doctor_name}}</td>
                                    <td>
                                        <button type="button" class="btn btn-warning">
                                            <a href="check_doctor?doctor={{doctor}}">Check Documents</a>
                                        </button>
                                    </td>
                                    <td>
                                        {% if doctor.is_doctor %}
                                            <h5>Accepted</h5>
                                        {% else %}
                                            <h5>Not Accepted Yet</h5>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% else %}
                        <p>You have not currently added any doctor.Click on the link below to add doctor.</p>
                    {% endif %}
                    <h5>Add Doctors:
                        <button type="button" class="btn btn-link">
                            <a href="{% url 'receptionist:add_doctor'%}">Save and Add Next</a>
                        </button>
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}